<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

        <context:component-scan base-package="com.controller"/>

        <mvc:resources mapping="/js/**" location="/js/"/>

        <mvc:annotation-driven conversion-service="conversionService" validator="validator"/>

        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/jsp/"/>
            <property name="suffix" value=".jsp"/>
        </bean>

        <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
            <property name="converters">
                <list>
                    <bean class="com.controller.converter.CustomDateConverter"/>
                </list>
            </property>
        </bean>

        <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
            <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
            <property name="validationMessageSource" ref="messageSource"/>
        </bean>

        <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
            <property name="basenames">
                <list>
                    <value>classpath:CustomValidationMessages</value>
                </list>
            </property>
            <property name="fileEncodings" value="UTF-8"/>
            <property name="cacheSeconds" value="120"/>
        </bean>

        <bean class="com.exception.CustomExceptionResolver"/>

        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <property name="maxUploadSize" value="5242880"/>
        </bean>

        <mvc:interceptors>

            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="com.interceptor.LoginInterceptor"/>
            </mvc:interceptor>

            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="com.interceptor.HandlerInterceptor1"/>
            </mvc:interceptor>

            <mvc:interceptor>
                <mvc:mapping path="/**"/>
                <bean class="com.interceptor.HandlerInterceptor2"/>
            </mvc:interceptor>

        </mvc:interceptors>

</beans>